@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    color: white;
}

#nav-button-parent > .MuiBox-root > .MuiBox-root > a {
    text-decoration: none;
    display: inline-flex;
}

div#root > div.MuiBox-root > .MuiButton-contained {
    color: black;
    text-shadow: none;
}

div.MuiInputBase-root > input[id="username"], div.MuiInputBase-root > input[id="password"] {
    -webkit-box-shadow: none;
}

div.profile-button-group > button {
    text-shadow: none;
}

#nav-button-parent > div > div > button#collapse {
    display: none;
}

ul.MuiList-root > a {
    text-decoration: none;
}

@media screen and (width < 850px) {
    div.MuiBox-root > .MuiFormControl-root {
        width: 80vw;
        width: 80dvw;
    }

    button#register, button#login {
        width: 80vw;
        width: 80dvw;
    }

    div.MuiBox-root > div.MuiFormControl-root.MuiTextField-root.entry {
        width: 100%;
    }

    #nav-button-parent > div > div > a > button, #nav-button-parent > div > div > button {
        display: none;
    }

    #nav-button-parent > div > div > button#collapse {
        display: block;
    }

    body > div#root > div.content.MuiBox-root {
        width: 90dvw;
        max-width: unset;
    }

    div.skeleton {
        width: 80vw;
        width: 80dvw;
    }
}